.card-top-img {
    position: absolute;
    border-radius: 5px;
}

.card-body {
    margin-top: 10px;
}

.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.card-text .card-title{
    color: #FF6B08;
}

.vote-card {
    margin-top: 26px;
    margin-right: 10px;
    width: 36px;
    height: 16px;
    background: #FF6B01;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}