.icon-film-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.icon-search-icon{
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.icon-footer-vector{
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 10px;
    margin-left: 10px;
}