$main-font: 'Roboto', sans-serif;
$black-color: #000000;
$white-color: #ffffff;
$orange-color: #ff6b08;
$grey-color: #8c8c8c;
$black-pagination: #333;
$white-pagination: #f7f7f7;
$blue-color: #4b96e6;
$footer-grey: #545454;
$red-color: #ff001b;

