.header-library {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/header-library-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  min-width: 320px;
  padding: 46px 0px 60px 0px;
}

.header-library-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
}

@media screen and (max-width: 767px) {
  .logo-text-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-library {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/header-library-tablet.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .button-header-library {
    width: 136px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header-library {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/header-library-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
}
.form_radio_btn input[type='radio'] {
  display: none;
}
.form_radio_btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white-color;
  height: 44px;
  width: 130px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $white-color;
}

.form_radio_btn input[type='radio']:checked + label {
  background-color: $orange-color;
  border-color: $orange-color;
}

.form_radio_btn label:hover {
  background-color: $orange-color;
  border-color: $orange-color;
}
