.header-home {
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 46px 0px 60px 0px;

  background-color: #000000;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/header-bcg-320.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: $white-color;

  @media screen and (max-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 320px + 1px) and (max-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-bcg-768.jpg);
  }

  @media screen and (min-width: 768px + 1px) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-bcg-1024.jpg);
  }

  @media screen and (min-width: 1024px + 1px) {
    background-size: cover;
  }
}

.wrapper-nav {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 70px;
  flex-grow: 1;
  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 37px;
}

.logo-nav {
  display: flex;
  align-items: baseline;
}

.logo-nav img {
  margin-right: 12px;
}

.logo-text-nav {
  color: $white-color;
  line-height: 1.17;
  font-weight: 500;
  font-size: 30px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-list-nav {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
}

.header-list-nav > li:not(:last-child) {
  margin-right: 39px;
}

.header-link-nav {
  color: $white-color;
  position: relative;
  &:hover,
  &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    content: '';
    transform: scaleX(0);
    background-color: #ff6b08;
  }
  &:hover::after {
    background-color: $orange-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(1);
  }
}

.header-orange-style {
  &::after {
    transform: scaleX(1);
  }
}

.wrapper-input {
  position: relative;
  max-width: 336px;
  margin: 0 auto 22px auto;
}

.wrapper-input input {
  width: 100%;
  padding: 4px 0;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 0.5px solid $white-color;
  font: 400 14px/1.14 'Roboto', sans-serif;
  color: $white-color;
}

.wrapper-input input::-moz-placeholder {
  color: $white-color;
}

.wrapper-input input::-webkit-input-placeholder {
  color: $white-color;
}

.text-search-films {
  position: absolute;
  top: 0px;
  left: 15px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 300;
}

.input-label:focus-within > .text-search-films {
  transform: translateY(30px);
  color: $orange-color;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/search-icon.svg);
}

.error-sentence {
  margin-top: 30px;
  text-align: center;
  display: none;
  color: $red-color;
  @media screen and (max-width: 480px) {
    text-align: left;
  }
}
.error-sentence.is-shown {
  display: block;
}
