.header-library {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-library-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    min-width: 320px;
}

.header-library-logo-link {
display: flex;
justify-content: space-between;
align-items: baseline;

img {
    margin-right: 10px;
}
}

.button-header-library {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    height: 44px;
    width: 130px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
}



.header-library-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}

.header-link-navigation {
    color: #ffffff;
    position: relative;
    &:hover,
    &:focus {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      margin-top: 4px;
      content: '';
    //   transform: scaleX(0);
    }
  
    &:hover::after {
      background-color: #ff6b08;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: scaleX(1);
    }
  }

    .header-link-navigation-home::after {
        position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      margin-top: 4px;
      content: '';
        transform: scaleX(0);
    }


.library-active-page::after {
    content: '';
    display: block;
    height: 4px;
    background-color: #ff6b08;
}

.button-header-library:hover,
.button-header-library:focus {
    background-color: #ff6b08;
        border-color: #ff6b08;
}



.button-header-library {
    margin-right: 15px;
}

@media screen and (max-width: 767px){
    .logo-text-nav {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .header-library {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-library-tablet.jpg);
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .header-library-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.button-header-library {
    width: 136px;
    
    &:not(:last-child){
        margin-right: 15px;
    }
}
}

@media screen and (min-width: 1024px) {
    .header-library {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-library-desktop.jpg);
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
}
